<!DOCTYPE html>

<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body>

	<h1>MSTUDY Dashboard</h1>

	<p>CLIPBOARD</p>
	<p><textarea class="textarea" rows='9' cols='26'>Your recorded text will appear here.</textarea>

	<p><button class="js-textareacutbtn">CUT</button></p>
	<p><button class="js-textareacopybtn">COPY</button></p>
	<p><button class="js-textareapastebtn">PASTE</button></p>

	<script src="/static/js/cut-copy-paste.js"></script>

	<p><button><a href={{url_for('docs_page')}}>MANAGE DOCS</a></button></p>

	<p><button>SAVE</button></p>

	<div id="controls">
		<img id="record" src="/static/images/record_voice.png" onclick="toggleRecording(this);">
	<script src = "/static/js/record.js"></script>
	<script src="/static/js/Recorderjs-master/dist/recorder.js"></script>

</body>

</html>