<!DOCTYPE html>

<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body>

	<h1>MSTUDY Dashboard</h1>

	<p>CLIPBOARD</p>
	<p><textarea class="textarea" rows='9' cols='26'>Your recorded text will appear here.</textarea>

	<p><button class="js-textareacutbtn">CUT</button></p>
	<p><button class="js-textareacopybtn">COPY</button></p>
	<p><button class="js-textareapastebtn">PASTE</button></p>

	<script src="../js/cut-copy-paste.js"></script>

	<div id="controls">
		<img id="record" src="../img/record.png" onclick="toggleRecording(this);" style="width:100px; height:100px;">
	<script src = "../js/record.js"></script>
	<script src="../Recorderjs-master/dist/recorder.js"></script>

</body>

</html>